body {
  background: #FEFEFE;
}

.content {
  padding-top: 50px;
}

#home > .title-container {
  width: 100%;
  height: 95vh;
  background: #1e9cbc;
  padding-top: 40vh;
  text-align: center;
}

#home > .title-container > .title {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FEFEFE;
  font-size: 5em;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  #home > .title-container > .title {
    font-size: 2em;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar * {
  color: #dcdcdd;
}

.documents {
  height: 95vh;
  background: #FEFEFE;
}

.document {
  text-align: left;
  cursor: pointer;
}

.doc-viewer {
  width: 100%;
  height: 95vh;
}

.test {
  height: 95vh;
  background: #888;
}

iframe {
  width: 100%;
  height: 95vh;
}

.selected-doc {
  background: #1e9cbc;
}

.posts-title {
  margin-top: 10vh;
}

.user-document {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #222;
  cursor: pointer;
}

.post {
  cursor: pointer;
}

.comments {
  overflow-y: scroll;
}

.comment {
  text-align: left;
  background: #FEFEFE;
}

.comment .content {
  font-size: 1.5em;
  width: 100%;
}

.comment-form {
  height: 40vh;
}

.comments-container {
  margin: auto;
  height: 40vh;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 5px 0px black inset;
          box-shadow: 0 0 5px 0px black inset;
}

#p {
  margin-top: 5vh;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

