body {
  background: #FEFEFE;
}

.content {
  padding-top: 50px;
}

#home > .title-container {
  width: 100%;
  height: 95vh;
  background: #1e9cbc;
  padding-top: 20vh;
  text-align: center;
}

#home > .title-container > .title {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FEFEFE;
  text-shadow: 0 2px 5px black;
  font-size: 5em;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  #home > .title-container > .title {
    font-size: 2em;
  }
}

.navbar {
  background: #13657a;
  border: none;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar .navbar-brand {
  color: FEFEFE;
}

.navbar {
  border: none;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #13657a;
}

.navbar .navbar-brand {
  color: #fefefe;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e0e0e0;
}

.navbar .navbar-text {
  color: #fefefe;
}

.navbar .navbar-nav .nav-link {
  color: #fefefe;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e0e0e0;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #13657a;
  border-color: #1e9cbc;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #222;
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #e0e0e0;
  background-color: #1e9cbc;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #1e9cbc;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e0e0e0;
  background-color: #1e9cbc;
}

.navbar .navbar-toggle {
  border-color: #1e9cbc;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #1e9cbc;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #fefefe;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #fefefe;
}

.navbar .navbar-link {
  color: #fefefe;
}

.navbar .navbar-link:hover {
  color: #e0e0e0;
}

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fefefe;
  }

  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0e0e0;
  }

  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0e0e0;
    background-color: #1e9cbc;
  }
}

@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #222;
  }

  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0e0e0;
  }

  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0e0e0;
    background-color: #1e9cbc;
  }
}

@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #222;
  }

  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0e0e0;
  }

  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0e0e0;
    background-color: #1e9cbc;
  }
}

@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #222;
  }

  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e0e0e0;
  }

  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e0e0e0;
    background-color: #1e9cbc;
  }
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #222;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e0e0e0;
}

.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e0e0e0;
  background-color: #1e9cbc;
}

.documents {
  height: 95vh;
  background: #FEFEFE;
}

.document {
  text-align: left;
  cursor: pointer;
}

.doc-viewer {
  width: 100%;
  height: 95vh;
}

.test {
  height: 95vh;
  background: #888;
}

iframe {
  width: 100%;
  height: 95vh;
}

.selected-doc {
  background: #1e9cbc;
}

.posts-title {
  margin-top: 10vh;
}

.user-document {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #222;
  cursor: pointer;
}

.post {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0,0,5px,black;
          box-shadow: 0,0,5px,black;
  border: 1px solid #1e9cbc;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.comments {
  overflow-y: scroll;
}

.comment {
  text-align: left;
  background: #FEFEFE;
}

.comment .content {
  font-size: 1.5em;
  width: 100%;
}

.comment-form {
  height: 40vh;
}

.comments-container {
  margin: auto;
  height: 40vh;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 5px 0px black inset;
          box-shadow: 0 0 5px 0px black inset;
}

#p {
  margin-top: 5vh;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
}

.inline {
  display: inline-block;
}

.diff-container > pre.diff-result span {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.diff-container .diff-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: #bc1e4d;
  font-family: "Josefin Sans", sans-serif;
}

.body {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #13657a;
  margin-top: 5px;
  height: 7vh;
}

.footer-bar-link {
  display: inline-block;
  padding: 10px 0;
  width: 10vw;
  font-size: 2vh;
  color: #FEFEFE;
  cursor: pointer;
}

#doug {
  position: absolute;
  left: 1em;
}

#daniel {
  position: absolute;
  right: 1em;
}

