.comments {
    // height: 95vh;
    // background: #1e9cbc;
    overflow-y: scroll;
}

.comment {
    text-align: left;
    background: #FEFEFE;
    .content {
        font-size: 1.5em;
        width: 100%;
    }
}

.comment-form{
    // height: 45vh;
}
.comment-component {
    height: 95vh;
}
.comments-container {
    margin: 0 auto;
    height: 45vh;
    overflow-y: scroll;
    box-shadow: 0 0 5px 0px black inset;
    // width: 100%;
}
#not-form-control {
    min-height: 40vh;
}