.comments {
    // height: 95vh;
    // background: #1e9cbc;
    overflow-y: scroll;
}
.scroll{
    // overflow: scroll;
}
.float{
    display: block;
    float: left;
}
.comment {
    text-align: left;
    background: #FEFEFE;

    .content {
        font-size: 1.5em;
    }
}