.comments {
    // height: 95vh;
    // background: #1e9cbc;
    overflow-y: scroll;
}

.float{
    // display: block;
    // float: left;
}
.comment {
    text-align: left;
    background: #FEFEFE;
    .content {
        font-size: 1.5em;
        width: 100%;
    }
}

.comment-form{
    height: 40vh;
}
.comments-container {
    margin: auto;
    height: 40vh;
    overflow-y: scroll;
    box-shadow: 0 0 5px 0px black inset;
    // width: 100%;
}