.documents {
    height: 95vh;
    background: #FEFEFE;
}

.document {
    text-align: left;
    cursor: pointer;
}

.doc-viewer {
    width: 100%;
    height: 95vh;
}

.test{
    height: 95vh;
    background: #888;
}

iframe {
    width: 100%;
    height: 95vh;
}

.selected-doc{
    background: #6CD46C;
}