.documents {
    height: 100%;
    background: #FEFEFE;
}

.document {
    text-align: left;
    cursor: pointer;
}

.doc-viewer {
    width: 100%;
    height: 95vh;
}

.test{
    height: 95vh;
    background: #888;
}

iframe {
    width: 100%;
    height: 95vh;
}

.selected-doc{
    background: #1e9cbc;
}
.search-title{
    font-family: $title-font;
}
.posts-title{
    margin: {
        top: 10vh;
    }
}
.user-document {
    margin-bottom: 15px;
    background: #1e9cbc;
    word-wrap: break-word;
    padding: {
        top: 5%;
        bottom: 5%;
    }
    min-height: 250px;
    box-sizing: border-box;
    cursor: pointer;
    h3 {
        font-family: $confortaa;
        color: #FEFEFE;
        background: #222;
        padding: {
            top: 5%;
            bottom: 5%;
        }
    }
    p {
        color: white;
    }
    button, a {
        width: 95%;
    }
    .btn-navbar-blue {
        color: white;
        background: #13657a;
        &:hover {
            background: (#13657a - 20)
        }
    }
}
.post-container{
    padding: {
        left: 50px;
        right: 50px;
    }
}
.post {
    padding-right: 0px;
    padding-left: 0px;
    .post-title{
        color: #FEFEFE;
        background: #222;
        padding-top: 5%;
        padding-bottom: 5%;
        font-family: $confortaa;
    }
    background: #1e9cbc;
    padding: {
        top: 5%;
        bottom: 5%;
    };
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    h3 {
        cursor: pointer;
        font-size: 1.5em;
    }
    a {
        color: #FEFEFE;
        text-decoration: none;

        &:hover {
            color: #E0e0e0;
            text-decoration: none;
        }
    }
}
