#home {
    margin: {
        top: -25px;
    }
    >.title-container {
        width: 100%;
        background: rgb(72, 190, 52);
        // height: 300px;
        padding: {
            top: 50px;
            bottom: 50px;
        }
        text-align: center;

        >.title{
            cursor: default;
            user-select: none;
            color: #FEFEFE;
            font: { 
                size: 5em;
                family: $title-font;
            }
            >.book{
                // padding-top: 2px;
            }
        }
    }
}