
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Custom

.content {
    padding-top: 50px;
}

@import "./home";
@import "./navbar";
@import "./documents";
@import "./comments";

#p {
    margin-top: 5vh;
    font: {
        size: 3em;
        family: $body-font;
    }
}
