
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Custom

body {
    background: #222;
}
.content {
    padding-top: 50px;
}

@import "./home";
@import "./navbar";
@import "./documents";
@import "./comments";
@import './about';
@import './profile';
@import './notfound';
.fefefe{
    color: #fefefe;
}
#p {
    margin-top: 5vh;
    font: {
        size: 3em;
        family: $body-font;
    }
}
.inline {
    display: inline-block;
}
.diff-container{
    >pre.diff-result span{
        word-wrap: break-word;
        white-space: pre-wrap;

    }
    .diff-buttons{
        display: flex;
        justify-content: center;
    }
}
.title {
    color: #bc1e4d;
    font-family: $title-font;
}
.body {
    font: {
        size: 2em;
        family: $body-font;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #13657a;
    margin-top: 5px;
    height: 7vh;
}

.footer-bar-link{
  display: inline-block;
  padding: 10px 0 ;
  width: 10vw;
  font-size: 2vh;
  color: #FEFEFE;
  cursor: pointer;

}
.daniel{
    // width: 30srem;
    height: 40rem;
}

.icon{
    width: 4rem;
    height: 4rem;
}
.mail-icon{
    font-size: 5rem;
}

.email{
    color: #bc1e4d;
    font-family: $title-font;
    font-size: 3rem;
}

#flowChart{
    width: 60rem;
    height: 40rem;
}
.pagination-center {
    display: flex;
    justify-content: center;
}
